@charset "UTF-8";
header {
  line-height: 10px;
  width: 120%;
  margin-top: 2px;
  margin-bottom: 30px;
}

nav {
  line-height: 50px;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 10px;
}
