body {
  width: 80%;
  margin: auto;
  background: #FFF8DC;
  margin-top: 20px;
  color: #616f80;
}

#card {
	 background:#FFF5EE;
}
#logo {
  margin-top: 25px;
  margin-left: 25px;
}

#nav {
  display: flex;
  justify-content: space-around;
}

/* a태그 밑줄 없애기 */
a {
  text-decoration: none;
}

/* 메인 검색창 */
#search {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: burlywood;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  caret-color: transparent;
  line-height: 40px;
  padding: 0 10px;
  width: 550px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

/* 광고 */
#advertise img {
  position: fixed;
  top: 300px;
  left: 1600px;

}

#label {
	font-weight: 800;	
}

#title {
	height: 60px;
	width:500px;
}

#titleshow {
	background-color: #ffffff;
	font-size: 30px;
}


#description {
	height: 150px;
	width:600px;
}

#descriptionshow {
	position: center;
	background-color: #ffffff;
	font-size: 22px;
}

#material {
	height: 150px;
	width: 600px;
}

#materialshow {
	position: center;
	background-color: #ffffff;
	width: 1300px;
	font-size: 22px;
}

.textarea {
	height: 100px;
	color : intenal light dark;
}

#category {
	display: inline-block;
	margin-right: 80px;
	padding: 12px;
	height: 60px;
	width: 200px;
}

#categoryshow {
	display: inline-block;
	margin-right: 80px;
	padding: 12px;
	height: 60px;
	width: 200px;
	background-color: #ffffff;
	font-size: 22px;
}
#people {
	display: inline-block;
	margin-right: 80px;
	padding: 12px;
	height: 60px;
	width: 200px;
}

#peopleshow {
	display: inline-block;
	margin-right: 80px;
	padding: 12px;
	height: 60px;
	width: 200px;	
	margin-right: 80px;
	background-color: #ffffff;
	font-size: 22px;
}	

#time {
	display: inline-block;
	margin-right: 80px;
	padding: 12px;
	height: 60px;
	width: 200px;
}

#timeshow {
	display: inline-block;
	margin-right: 80px;
	padding: 12px;
	height: 60px;
	width: 200px;	
	margin-right: 80px;
	background-color: #ffffff;
	font-size: 22px;	
}

#difficulty {
	display: inline-block;
	padding: 12px;
	height: 60px;
	width: 200px;
}

#difficultyshow {
	display: inline-block;
	padding: 12px;
	height: 60px;
	width: 200px;
	margin-right: 80px;
	background-color: #ffffff;
	font-size: 22px;
}
.form-select{
	width: 160px;
	vertical-align: middle;
}

#cookOrder {
	height: 300px;
}

#cookOrdershow {
	height: 400px;
	background-color: #ffffff;
	width: 1300px;
	font-size: 22px;
}

#cookTip {
	height: 200px;
}

#cookTipshow {
	height: 200px;
	width: 1300px;
	background-color: #ffffff;
	font-size: 22px;
}

#cookTagshow {
	background-color: #ffffff;
	font-size: 22px;
	width: 1300px;	
}

#regi {
	background-color:	#A9A9A9;
	display: inline-block;
	height: 50px;
	width: 100px;
}


#button {
	background-color:	#A9A9A9;
}
/* Footer */
.footer {
  /* 요리 게시판 작성시 저장버튼 덮는 문제 */
  /* position: relative; */
  bottom: 0;
  width: 80%;
  margin: auto;
  height: 60px;
  background-color: #e74c3c;
  color: white;
  display: flex;
  align-items: center;
}

.footer img {
  display: flex;
  align-items: flex-start;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
