body {
  width: 80%;
  margin: auto;
  background: #f3f3f3;
  margin-top: 20px;
  color: #616f80;
}

#logo {
  margin-top: 25px;
  margin-left: 25px;
}

#nav {
  display: flex;
  justify-content: space-around;
}

/* a태그 밑줄 없애기 */
a {
  text-decoration: none;
}

/* 메인 검색창 */
#search {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: burlywood;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  caret-color: transparent;
  line-height: 40px;
  padding: 0 10px;
  width: 550px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

/* 캐러셀 */
.carousel-item > img {
  top: 0;
  left: 0;
  background-color: gray;
  max-width: 100%;
  max-height: 200px;
}

/* 광고 */
#advertise {
  display: flex;
  justify-content: end;
}

/* 공지사항, 자유게시판 */
#notice th {
  text-align: center;
  border-bottom: 1px solid black;
}

#freeBoard th {
  text-align: center;
  border-bottom: 1px solid black;
}

td:nth-child(2) {
  text-align: center;
}

/* Best 요리 레시피 */
table {
  display: flex;
  border-spacing: 10px;
}

#leftHead {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

#bestRecipe img {
  width: 100px;
  height: 100px;
}

/* Footer */
.footer {
  /* 요리 게시판 작성시 저장버튼 덮는 문제 */
  /* position: relative; */
  bottom: 0;
  width: 80%;
  margin: auto;
  height: 60px;
  background-color: #e74c3c;
  color: white;
  display: flex;
  align-items: center;
}

.footer img {
  display: flex;
  align-items: flex-start;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

/* 게시판 css */
table.table2 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  margin: 20px 10px;
}

table.table2 tr {
  width: 50px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

table.table2 td {
  width: 100px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
